@import '../../../../colors';

:local {
  $horizontal-padding: 20px;
  $icon-size: 20px;
  $space-between-title-and-icon: 10px;

  .root {
    position: relative;

    display: block;

    color: $white-over-grey;
    font-size: 12px;

    user-select: none;
    cursor: pointer;

    padding: 10px $horizontal-padding;

    &.isActive,
    &:hover {
      color: $grey;
      background-color: $orange;

      padding-right: ($horizontal-padding + $icon-size + $space-between-title-and-icon);

      .icon {
        visibility: visible;
      }
    }
  }

  .title {
    display: block;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon {
    position: absolute;
    right: $horizontal-padding;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: $icon-size;
    height: $icon-size;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);

    visibility: hidden;

    :global {
      .fa {
        color: #ffffff;
      }
    }

    &:hover {
      .submenu {
        display: block;
      }
    }
  }

  .submenu {
    position: absolute;
    right: 0;
    top: 0;

    display: none;

    padding-top: $icon-size;
    box-sizing: border-box;
  }
}
