:local {
  .root {
    display: block;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 20px;
  }

  .textArea {
    display: block;
    width: 100%;
    height: 100%;

    border: none;
    padding: 0;

    resize: none;

    &:focus {
      outline: none;
    }
  }
}
