:local {
  .root {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 20%;
    height: 100%;
  }

  .contentEditor {
    position: absolute;
    top: 0;
    left: 20%;

    display: block;
    width: 80%;
    height: 100%;
  }
}
