@import '~font-awesome';
@import './react-st-modal-overrides';

:local {
  html,
  body,
  [data-app] {
    margin: 0;
    height: 100%;

    font-family: Arial, sans-serif;
  }

  .root {
    display: block;
    width: 100%;
    height: 100%;
  }
}
