@import '../../../colors';

:local {
  .root {
    position: relative;

    display: block;
    width: 100%;

    &::after {
      content: '';

      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;

      display: block;
      height: 2px;

      background-color: #ffffff;
      opacity: 0.3;
    }
  }

  .addBtn {
    display: flex;
    align-items: center;
    width: auto;

    color: $white-over-grey;

    user-select: none;
    cursor: pointer;

    padding: 10px 20px;

    &:hover {
      color: $grey;
      background-color: $orange;
    }
  }

  .addBtnIcon {
    composes: fa from global;
    composes: fa-plus from global;

    margin-right: 10px;
  }
}
