@import '../colors';

:local {
  .root {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: $grey;
  }

  .btn {
    display: flex;
    align-items: center;
    width: auto;

    color: $white-over-grey;

    user-select: none;
    cursor: pointer;

    padding: 10px 20px;

    border-radius: 5px;

    &:hover {
      color: $grey;
      background-color: $orange;
    }
  }

  .btnIcon {
    composes: fa from global;
    composes: fa-plus from global;

    margin-right: 10px;
  }
}
