@import '../../colors';

:local {
  .root {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;

    background-color: $grey;
  }

  .noteList {
    position: absolute;
    top: 40px;
    bottom: 0;

    display: block;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
  }
}
