@import '../../../../../colors';

:local {
  $arrow-size: 6px;
  $arrow-offset: 20px / 2 - $arrow-size;

  .root {
    position: relative;
    display: block;

    padding-top: $arrow-size;

    &::before {
      content: '';

      position: absolute;
      right: $arrow-offset;
      top: 0;

      display: block;
      width: 0;
      height: 0;

      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
      border-bottom: $arrow-size solid #ffffff;
    }
  }

  .list {
    display: block;
    background-color: #ffffff;
  }

  .btn {
    display: flex;
    align-items: center;

    color: $grey;
    font-size: 14px;
    text-transform: capitalize;

    cursor: pointer;
    user-select: none;

    padding: 10px 20px;

    :global {
      .fa {
        color: $grey !important;
        margin-right: 10px;
      }
    }

    &:hover {
      background-color: #ececec;
    }
  }
}
